

.edit-clothing-container {
    height: 800px;
    background-image: url("http://localhost/wordpress/wp-content/plugins/2024-wp-edit-clothing/img/tshirt.png");
    background-position: center; /* ?? 中央底圖 */
    background-size: contain;     /* ?? 中央底圖 */
    background-repeat: no-repeat; /* 不重複 */
    position: relative;
}



.edit-clothing-img {
    position: relative;
    width: 20%;
    top: 40%;
    left: 40%;
}


